{{ define "main" }}
<article>
    <header>
        <h1>{{ .Title }}</h1>
        {{ if .Date }}
        <p class="meta">
            <time datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}">
                {{ .Date.Format "January 2, 2006" }}
            </time>
            {{ if .Params.tags }}
            <span class="tags">
                {{ range .Params.tags }}
                <span class="tag">{{ . }}</span>
                {{ end }}
            </span>
            {{ end }}
        </p>
        {{ end }}
    </header>
    
    <div class="content">
        {{ .Content }}
    </div>
    
    {{ if .Params.tags }}
    <footer class="article-footer">
        <h3>Tags:</h3>
        <div class="tags">
            {{ range .Params.tags }}
            <span class="tag">{{ . }}</span>
            {{ end }}
        </div>
    </footer>
    {{ end }}
</article>
{{ end }} 